// TODO: 5. Fixing one thing may break other things, but sometimes it has to be done
main {
  // try to keep these
  display: grid;
  grid-template-rows: 40px 1fr 40px;
  min-height: 100vh;
  // don't  really care about the below
}

* {
  margin: 0 !important;
  padding: 0 !important;
}